<html>
<body>
<h1>{{production.name}}</h1>
<p>{{production.description}}</p>
<ul>
{% for performance in performances %}
    <li><a href="/production/{{production.id}}/{{performance.id}}">{{ performance.date | date: "%A %B %d, %Y at %I:%M %P" }}</a></li>
{% endfor %}
</ul>

</body>
</html>